.bodycontainer {
    margin: 0 auto;
    max-width: 850px;
}

#header {
    background: grey;
    height: 62px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#headertitle {
    color: rgb(255, 193, 7);
    float:left;
    size: 16px;
    margin-top: 10px;
    margin-left: 5px;
}

#headerlogo {
    margin: 5px;
    height: 40px;
    width: 40px;
    float: left;
}

#headerbuttons {
    float:right;
    margin: 5px;
}

.infocontainer {
    background: grey;
    color: white;
    margin-top: 35px;
    border-radius: 5px; 
    padding: 5px;
}

.innertext {
    margin: 10px;
    width: 97.5%;
    display: block;
}

.form-group {
    width: 100%;
}

#resultsarea {
    resize: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.chart {
    margin: auto;
    border: solid 2px #ffffff;
    padding: 5px;
    border-spacing: 5px;
    border-collapse: collapse;
}

tr, th, td {
    border: solid 1px #ffffff;
    padding: 2px;
    font-size: 12px;
}

#scansubmit {
    margin-top: 15px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 80px;
    min-height: 39px;
}

#resultspanel {
    background: grey;
    color: white;
    margin: auto;
    margin-top: 35px;
    border-radius: 5px; 
    padding: 15px;
    min-height: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}